[project]
name = "faceit"
version = "0.1.4"
description = "The Python wrapper for the Faceit API"
readme = "README.md"
requires-python = ">=3.8"
license = "Apache-2.0"
authors = [
    { name = "zombyacoff", email = "zombyacoff@gmail.com" },
]
keywords = ["api", "faceit", "wrapper"]
classifiers = [
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Typing :: Typed",
]
dependencies = [
    "httpx>=0.27.0,<1.0.0",
    "pycountry>=24.6.1,<25.0.0",
    "pydantic>=2.7.1,<3.0.0",
    "pydantic-extra-types>=2.10.3,<3.0.0",
    "tenacity>=8.2.3,<9.0.0",
]

[project.optional-dependencies]
env = ["python-decouple>=3.8"]

[project.urls]
"Bug Tracker" = "https://github.com/zombyacoff/faceit-python/issues"
"Documentation" = "https://docs.faceit.com/docs"

[dependency-groups]
dev = [
    "mypy>=1.5.1",
    "pre-commit==3.5.0",
    "pytest>=7.4.0",
    "pytest-asyncio>=0.21.1",
    "ruff>=0.4.8",
]
lint = [
    "ruff>=0.4.8",
]
test = [
    "pytest>=7.4.0",
    "pytest-asyncio>=0.21.1",
]

[tool.hatch.build.targets.wheel]
packages = ["src/faceit"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
