[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[project]
name = "faceit"
version = "0.1.0"
description = "The Python wrapper for the Faceit API"
license = {text = "Apache-2.0"}
authors = [
    {name = "zombyacoff", email = "zombyacoff@gmail.com"}
]
readme = "README.md"
keywords = ["faceit", "api", "wrapper"]
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
]
requires-python = ">=3.8"
dependencies = [
    "annotated-types (>=0.6.0,<1.0.0)",
    "httpx (>=0.27.0,<1.0.0)",
    "pydantic (>=2.7.1,<3.0.0)",
    "pydantic-core (>=2.18.2,<3.0.0)",
    "strenum (>=0.4.15,<1.0.0)",
    "tenacity (>=8.2.3,<9.0.0)",
    "typing-extensions (>=4.11.0,<5.0.0); python_version < '3.13'",
]

[project.urls]
repository = "https://github.com/zombyacoff/faceit-python"

[tool.poetry]
packages = [{include = "faceit", from = "src"}]

[tool.poetry.group.dev.dependencies]
mypy = "^1.5.1"
pre-commit = "3.5.0"
pytest = "^7.4.0"
pytest-asyncio = "^0.21.1"
python-dotenv = "^1.0.0"
ruff = "^0.4.8"

[tool.pytest.ini_options]
pythonpath = "."

[tool.mypy]
python_version = "3.8"
exclude = [
    "_.py",
    "_async.py",
    "tests/*"
]

[tool.ruff]
line-length = 79
preview = true
target-version = "py38"
exclude = [
    "_.py",
    "_async.py"
]
lint.select = ["ALL"]
lint.ignore = [
    "ANN401",
    "PYI058",
    "PYI059",
    "B024",
    "COM812",
    "CPY001",
    "D",
    "EM101",
    "EM102",
    "E501",
    "ERA001",
    "FBT001",
    "FBT003",
    "FIX002",
    "PLR0904",
    "PLR0913",
    "PLW3201",
    "PT001",
    "RUF001", 
    "RUF003", 
    "RUF006", 
    "RUF012",
    "SLF001",
    "TD",
    "TRY003",
]
[tool.ruff.lint.per-file-ignores]
"tests/*" = ["ALL"]

[tool.ruff.lint.pyupgrade]
keep-runtime-typing = true

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.format]
docstring-code-format = true
docstring-code-line-length = 100
quote-style = "double"
line-ending = "auto"
